*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #333;
    font-family: sans-serif;
}

.container {
    position: absolute;
    width: 600px;
    padding: 30px;
    background: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.circle {
    width: 200px;
    height: 200px;
    background: url("ressources/img1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
    margin: 0 30px 20px 0;
    shape-outside: circle();
}