body {
    margin: 0;
    padding: 0;
    background: #333;
}
.box {
    margin: 20px;
    width: 300px;
    height: 300px;
}
.posRel {
    background: crimson;
}
.parent {
    margin: 20px;
    width: 400px;
    height: 400px;
    background: salmon;
}

.element {
    width: 100px;
    height: 100px;
    background: aliceblue;
}
.posAbs {
    width: 100px;
    height: 100px;
    background: blueviolet;
}

.posFix {
    background: yellowGreen;
}